
{% extends 'DistribuceTiskuBundle::layout.html.twig' %}


{% block title %}Přidat titul{% endblock%}

{% block body %}
    <header><h1>
        {% block h1 %}
        Přidat titul
        {% endblock %}
    </h1></header>

    {% for flashMessage in app.session.flashbag.get('ok') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('exception') %}
    <div class="exception-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}  


    {% block form %}
    <form action="{{ path('_bookAdd') }}" method="post" {{ form_enctype(form) }} class="blogger">
    {% endblock %}    
        {{ form_errors(form) }}
        {% block tiskovinaNemenitelne %}
            {{ form_row(form.issn) }}
            {{ form_row(form.titul) }}
        {% endblock %}
        {{ form_row(form.cena) }}
        {{ form_row(form.denVydani, {'required': false}) }}
        {{ form_row(form.nakladatelstvi, {'required': false}) }}
        {{ form_row(form.vydavatel, {'required': false}) }}

    {% block formRest %}
        {{ form_rest(form) }}
    {% endblock %}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}