
{% extends 'DistribuceTiskuBundle::layout.html.twig' %}

{% block title %}Seznam zákázníků{% endblock%}

{% block body %}
    <header>
        <h1>Seznam tiskovin</h1>
    </header>
    {% for flashMessage in app.session.flashbag.get('ok') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('exception') %}
    <div class="exception-notice">
    {{ flashMessage }}
    </div>
    {% endfor %} 

<table>
    <thead>
        <th>ISSN</th>
        <th>titul</th>
        <th>cena [kč]</th>
        <th>typ</th>
        <th>den vydání</th>
        <th>nakladatelstvi</th>
        <th>vydavatel</th>
        {% block adminOnlyTh %}
        <th>editovat</th>
        <th>smazat</th>
        {% endblock %}
    </thead>
    {% set lenght = 0 %}
    {% for book in books %}
    {% set lenght = lenght+1 %}
    <tr>
        <td>{{ book.ISSN }}</td>
        <td>{{ book.titul }}</td>
        <td>{{ book.cena }}</td>
        <td>{{ book.typ }}</td>
        <td>{{ book.den_vydani }}</td>
        <td>{{ book.nakladatelstvi }}</td>
        <td>{{ book.vydavatel }}</td>
        {% block adminOnlyTd %}
        <td><a href="{{ path('_bookEdit',{'id' : book.ISSN} )}}"><img src="{{ asset('images/edit.jpg') }}" alt="editovat tiskovinu" width="20" height="20"></a></td>
        <td><a href="{{ path('_bookDeleteById',{'id' : book.ISSN} )}}"><img src="{{ asset('images/delete.png') }}" alt="smazat tiskovinu" width="20" height="20"></a></td>
        {% endblock %}
    </tr>    
    {% endfor %}
</table>
{% if offset-10 > 0 %}
{% block list1 %}
<a href="{{ path('_bookList', {'offset' : offset-20} )}}"><-</a>
{% endblock %}
 strana {{(offset/10)}}
    {% if lenght == 10 %}
 {% block list2 %}
<a href="{{ path('_bookList', {'offset' : offset} )}}">-></a>
{% endblock %}
    {% endif %}
{% else %}
    {% if lenght == 10 %}
 strana {{(offset/10)}}
 {% block list3 %}
<a href="{{ path('_bookList', {'offset' : offset} )}}">-></a>
{% endblock %}
    {% endif %}
{% endif %}
{% block mandatory %}{% endblock%} 

{% endblock %}
