
{% extends 'DistribuceTiskuBundle::layout.html.twig' %}

{% block title %}Seznam zákázníků{% endblock%}

{% block body %}
    <header>
        <h1>Seznam zákázníků</h1>
    </header>
<table>
    <thead>
        <th>id</th>
        <th>jméno</th>
        <th>příjmení</th>
        <th>titul</th>
        <th>adresa</th>
        <th>psč</th>
        <th>bankovní spojení</th>
        <th>kontaktní údaj</th>
        <th>smazat</th>
        <th>editovat</th>
    </thead>
    {% for zakaznik in zakaznici %}
    <tr>
        <td><a href="{{ path('_customerRemoveById',{'id' : zakaznik.id_zakaznika} )}}">{{ zakaznik.id_zakaznika }}</a></td>
        <td>{{ zakaznik.jmeno }}</td>
        <td>{{ zakaznik.prijmeni }}</td>
        <td>{{ zakaznik.titul }}</td>
        <td>{{ zakaznik.adresa }}</td>
        <td>{{ zakaznik.psc }}</td>
        <td>{{ zakaznik.bankovni_spojeni }}</td>
        <td>{{ zakaznik.kontaktni_udaj }}</td>
        <td><a href="{{ path('_customerRemoveById',{'id' : zakaznik.id_zakaznika} )}}"><img src="{{ asset('images/delete.png') }}" alt="smazat zakaznika" width="20" height="20"></a></td>
        <td><a href="{{ path('_customerEditById',{'id' : zakaznik.id_zakaznika} )}}"><img src="{{ asset('images/edit.jpg') }}" alt="smazat zakaznika" width="20" height="20"></a></td>
    </tr>    
    {% endfor %}
</table>
{% endblock %}