
{% extends 'DistribuceTiskuBundle::layout.html.twig' %}

{% block title %}Zadat odběr{% endblock%}


{% block body %}
{% block head %}
    <header>
        <h1>Zadat odběr</h1>
    </header>
{% endblock %}
    {% for flashMessage in app.session.flashbag.get('vlozeni') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}
    {% block formHead %}
    <form action="{{ path('_subscriptionEdit',{'id' : form.vars.value.id}) }}" method="post" {{ form_enctype(form) }} class="blogger">
    {% endblock %}
        {{ form_errors(form) }}

        {% block adminOnly %}
        {{ form_row(form.uzivatel) }}
        {% endblock %}
        {{ form_row(form.titul) }}
        {{ form_row(form.denOdberu) }}
        {{ form_row(form.odberOd) }}
        {{ form_row(form.odberDo) }}
        {% block formRest %}
        {{ form_rest(form) }}
        {% endblock %}
        <input type="submit" value="Submit" />
    </form>

        {% block mandatory %}{% endblock%}
{% endblock %}{# empty Twig template #}
