
{% extends 'DistribuceTiskuBundle::layout.html.twig' %}

{% block title %}Seznam odběrů{% endblock%}

{% block body %}
    <header>
        <h1>Seznam odběrů</h1>
    </header>
    {% for flashMessage in app.session.flashbag.get('ok') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('exception') %}
    <div class="exception-notice">
    {{ flashMessage }}
    </div>
    {% endfor %} 

<table>
    <thead>
        <th>id</th>
        <th>Titul</th>
        <th>Den odběru</th>
        <th>Od</th>
        <th>Do</th>
        {% block adminOnlyTh %}
        <th>Jméno</th>
        <th>Přijmení</th>
        <th>Platba</th>
        {% endblock %}
        <th>upravit</th>
        <th>přerušit</th>
        <th>Seznam přerušení</th>
        <th>smazat</th>
    </thead>
    {% set lenght = 0 %}
    {% for odber in odbery %}
    {% set lenght = lenght+1 %}
    <tr>        
        <td>{{ odber.id_odberu }}</td>
        <td>{{ odber.titul }}</td>
        <td>{{ odber.den_odberu }}</td>
        <td>{{ odber.odber_od }}</td>
        <td>{{ odber.odber_do }}</td>
        {% block adminOnlyTd %}
        <td>{{ odber.jmeno }}</td>
        <td>{{ odber.prijmeni }}</td>
        <td>{{ odber.id_platby }}</td>
        {% endblock %}
        {% block userList %}
        <td><a href="{{ path('_subscriptionEdit',{'id' : odber.id_odberu} )}}"><img src="{{ asset('images/edit.png') }}" alt="změnit odběr" width="20" height="20"></a></td>
        {% endblock %}
        <td><a href="{{ path('_subscriptionInterruption',{'id' : odber.id_odberu} )}}"><img src="{{ asset('images/interrupt.png') }}" alt="přerušit odběr" width="20" height="20"></a></td>
        <td><a href="{{ path('_subscriptionInterruptionList',{'id' : odber.id_odberu, 'offset' : 0} )}}"><img src="{{ asset('images/interrupt.png') }}" alt="preušené odběry" width="20" height="20"></a></td>
        <td><a href="{{ path('_subscriptionRemove',{'id' : odber.id_odberu} )}}"><img src="{{ asset('images/delete.png') }}" alt="smazat odběr" width="20" height="20"></a></td>
    </tr>    
    {% endfor %}
</table>
{% if offset-10 > 0 %}
{% block list1 %}
<a href="{{ path('_subscriptionList', {'offset' : offset-20} )}}"><-</a>
{% endblock %}
 strana {{(offset/10)}}
    {% if lenght == 10 %}
 {% block list2 %}
<a href="{{ path('_subscriptionList', {'offset' : offset} )}}">-></a>
{% endblock %}
    {% endif %}
{% else %}
    {% if lenght == 10 %}
 strana {{(offset/10)}}
 {% block list3 %}
<a href="{{ path('_subscriptionList', {'offset' : offset} )}}">-></a>
{% endblock %}
    {% endif %}
{% endif %}

{% block mandatory %}{% endblock%}
{% endblock %}
