
{% extends 'DistribuceTiskuBundle::layout.html.twig' %}

{% block title %}Zadat odběr{% endblock%}


{% block body %}
{% block head %}
    <header>
        <h1>Zadat odběr</h1>
    </header>
{% endblock %}

    {% for flashMessage in app.session.flashbag.get('ok') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('exception') %}
    <div class="exception-notice">
    {{ flashMessage }}
    </div>
    {% endfor %} 

    {% block form %}
    <form action="{{ path('_subscriptionAdd') }}" method="post" {{ form_enctype(form) }} class="blogger">
    {% endblock %}
        {{ form_errors(form) }}
        {{ form_row (form._token) }}
        {% block adminOnly %}
        {{ form_row(form.uzivatel) }}
        {% endblock %}
        {{ form_row(form.titul) }}
        {{ form_row(form.denOdberu) }}
        {{ form_row(form.odberOd) }}
        {{ form_row(form.odberDo) }}
        {% block formRest %}   
        {{ form_rest(form) }}
        {% endblock %}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}{# empty Twig template #}
