
{% extends 'DistribuceTiskuBundle:Form:subscriptionList.html.twig' %}

        {% block adminOnlyTh %}
        <th>Obdobi</th>
        <th>Zpusob platby</th>
        {% endblock %}

        {% block formHead %}
        <form action="{{ path('_usubscriptionEdit',{'id' : form.vars.value.id}) }}" method="post" {{ form_enctype(form) }} class="blogger">
        {% endblock %}
        {% block adminOnlyTd %}
         <td>{{ odber.obdobi }}</td>
        <td>{{ odber.zpusob_platby }}</td>
        {% endblock %}
        {% block userList %}
        <td><a href="{{ path('_usubscriptionEdit',{'id' : odber.id_odberu} )}}"><img src="{{ asset('images/edit.png') }}" alt="změnit odběr" width="20" height="20"></a></td>
        {% endblock %}

        {% block formRest %}   

        {% endblock %}