
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}{% endblock %} - Distribuce tisku IIS</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
{{ ''|session }}
        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                {% if app.session.get('user') != "" %}  
                                <li><a href="{{ path('_logout')}}">Odhlásit se</a>  
                                {{ app.session.get('user')}}
                                </li>                              
                                {% else %}
                                <li><a href="{{ path('_login')}}">Příhlásit se</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <hgroup>
                    <h2>{% block blog_title %}<a href="{{ path('_homepage')}}">Distribuce tisku</a>{% endblock %}</h2>
                    {% block blog_tagline %}                
                    {% if app.session.get('type') == "0" %}  
                    <h3><a href="{{ path('_homepage')}}">Admin</a></h3>
                    {% elseif app.session.get('type') == "1" %}
                    <h3><a href="{{ path('_homepage')}}">Doručovatel</a></h3>
                    {% elseif app.session.get('type') == "2" %}
                    <h3><a href="{{ path('_homepage')}}">Zákazník</a></h3>
                    {% endif %}
                    {% endblock %}
                </hgroup>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
                {% if app.session.get('type') == "0" %}  
                <ul>
                    <li><a href="{{ path('_customerAdd')}}">Přidat zákazníka</a></li>
                    <li><a href="{{ path('_customerList')}}">Seznam zákazníků</a></li>
                    <hr>
                    <li><a href="{{ path('_bookAdd')}}">Přidat tiskovinu</a></li>
                    <li><a href="{{ path('_bookList')}}">Seznam tiskovin</a></li>
                    <hr>
                    <li><a href="{{ path('_supplierAdd')}}">Přidat doručovatele</a></li>
                    <li><a href="{{ path('_supplierList')}}">Prohlížet doručovatele</a></li>
                    <hr>
                    <li><a href="{{ path('_subscriptionAdd')}}">Zadat odběr</a></li>
                    <li><a href="{{ path('_subscriptionList')}}">Prohlížet odběry</a></li>
                </ul>
                {% elseif app.session.get('type') == "1" %}
                <ul>
                    <li><a href="{{ path('_dsupplierSubsList')}}">Zobrazit zakázky</a></li>
                    <li><a href="{{ path('_dprofile')}}">Upravit profil</a></li>
                </ul>
                {% elseif app.session.get('type') == "2" %}
                <ul>
                    <li><a href="{{ path('_ubookList')}}">Seznam tiskovin</a></li>
                    <hr>
                    <li><a href="{{ path('_usubscriptionAdd')}}">Zadat odběr</a></li>
                    <li><a href="{{ path('_usubscriptionList')}}">Prohlížet odběry</a></li>
                    <hr>
                    <li><a href="{{ path('_profile')}}">Upravit profil</a></li>
                </ul>
                {% endif %}
            </aside>

            <div id="footer">
                {% block footer %}
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>
